<h1>datetime library</h1>

<li>Time is linear
<li>progresses as a straightline trajectory from the big bag
<li>to now and into the future

<h3>Reasoning about time is important in data analysis</h3>
<li>Analyzing financial timeseries data
<li>Looking at commuter transit passenger flows by time of day 
<li>Understanding web traffic by time of day 
<li>Examining seaonality in department store purchases

<h3>The datetime library</h3>
<li>understands the relationship between different points of time
<li>understands how to do operations on time

<h3>Example:</h3>
<li>Which is greater? "10/24/2017" or "11/24/2016"

In [1]:
d1 = "10/24/2017"
d2 = "11/24/2016"

# it starts comparing in alphabetical order or from index 0 for example 1 of 10 and 1 of 11 is compared and then 0 of 10 and 1 of
# 11 here 1 is greater than 0 so '11/24/2016' becomes greater than '10/24/2017'

max(d1,d2)

'11/24/2016'

In [2]:
d3='2017/10/24'
d4='2016/11/24'

# compare the result from last step

max(d3,d4)

'2017/10/24'

<li>How much time has passed?

In [3]:
# we can't subtract two string

d1 - d2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

<h4>Obviously that's not going to work. </h4>
<h4>We can't do date operations on strings</h4>
<h4>Let's see what happens with datetime</h4>

In [4]:
import datetime

# from datetime library we are importing date object or date datatype
# careful about this format year,month,day

d1 = datetime.date(2016,11,24)
d2 = datetime.date(2017,10,24)

max(d1,d2)

datetime.date(2017, 10, 24)

In [5]:
# this give duration

print(d2 - d1)

334 days, 0:00:00

In [6]:
d3=datetime.date(2017,11,24)
d4=datetime.date(2017,11,25)

max(d3,d4)

datetime.date(2017, 11, 25)

In [7]:
# see the output

d3-d4

datetime.timedelta(days=-1)

In [8]:
d4-d3

datetime.timedelta(days=1)

<li>datetime objects understand time

<h3>The datetime library contains several useful types</h3>
<li>date: stores the date (year,month,day)
<li>time: stores the time (hours,minutes,seconds)
<li>datetime: stores the date as well as the time (month,day,year,hours,minutes,seconds)
<li>timedelta: duration between two datetime or date objects

<h3>datetime.date</h3>

In [9]:
import datetime

century_start = datetime.date(2000,1,1)
today = datetime.date.today()

print(century_start,today)
print("*********************")
print("We are",today-century_start,"days into this century")

2000-01-01 2019-01-04
*********************
We are 6943 days, 0:00:00 days into this century

<h3>For a cleaner output</h3>

In [10]:
# see the difference between this output and previous output

print("We are",(today-century_start).days,"days into this century")

We are 6943 days into this century

<h3>datetime.datetime</h3>

In [11]:
century_start = datetime.datetime(2000,1,1,0,0,0)

time_now = datetime.datetime.now()

print(century_start,time_now)
print("*******************************************")
print("we are",time_now - century_start,"days, hour, minutes and seconds into this century")

2000-01-01 00:00:00 2019-01-04 20:16:12.813499
*******************************************
we are 6943 days, 20:16:12.813499 days, hour, minutes and seconds into this century

<h4>datetime objects can check validity</h4>
<li>A ValueError exception is raised if the object is invalid</li>

In [12]:
#some_date=datetime.date(2015,2,29)
#some_date =datetime.date(2016,2,29)

# this(running) is eqivalent to first line comment 

some_time=datetime.datetime(2015,2,28,23,60,0)

# run both comments by making uncomment one by one
# first or third line is giving error because 29 comes only in leap year

ValueError: minute must be in 0..59

<h3>datetime.timedelta</h3>
<h4>Used to store the duration between two points in time</h4>

In [13]:
century_start = datetime.datetime(2000,1,1,0,0,0)
time_now = datetime.datetime.now()
time_since_century_start = time_now - century_start

print("since century start",time_since_century_start)
print("********************************************")
print("days since century start",time_since_century_start.days)
print("********************************************")
print("seconds since century start",time_since_century_start.total_seconds())
print("********************************************")
print("minutes since century start",time_since_century_start.total_seconds()/60)
print("********************************************")
print("hours since century start",time_since_century_start.total_seconds()/60/60)

since century start 6943 days, 20:16:17.628124
********************************************
days since century start 6943
********************************************
seconds since century start 599948177.628124
********************************************
minutes since century start 9999136.293802066
********************************************
hours since century start 166652.27156336777

<h3>datetime.time</h3>

In [14]:
date_and_time_now = datetime.datetime.now()
print(date_and_time_now)
print('*********************************')
time_now = date_and_time_now.time()
print(time_now)

2019-01-04 20:16:19.666850
*********************************
20:16:19.666850

<h4>You can do arithmetic operations on datetime objects</h4>
<li>You can use timedelta objects to calculate new dates or times from a given date

In [15]:

today=datetime.date.today()
print(today)
print('******************')
print(datetime.timedelta(days=5))
print('******************')
five_days_later=today+datetime.timedelta(days=5)
print(five_days_later)

2019-01-04
******************
5 days, 0:00:00
******************
2019-01-09

In [16]:
# must compare this output to next step output

now=datetime.datetime.today()
print(now)
print('*********************')
print(datetime.timedelta(minutes=5,seconds=5))
print('*********************')
five_minutes_and_five_seconds_later = now + datetime.timedelta(minutes=5,seconds=5)
print(five_minutes_and_five_seconds_later)

2019-01-04 20:16:23.735952
*********************
0:05:05
*********************
2019-01-04 20:21:28.735952

In [18]:
now=datetime.datetime.today()
print(now)
print('*********************')
print(datetime.timedelta(minutes=-5,seconds=-5))
print('*********************')
five_minutes_and_five_seconds_earlier = now+datetime.timedelta(minutes=-5,seconds=-5)
print(five_minutes_and_five_seconds_earlier)

2019-01-04 20:33:03.842766
*********************
-1 day, 23:54:55
*********************
2019-01-04 20:27:58.842766

<li>But you can't use timedelta on time objects. If you do, you'll get a TypeError exception

In [17]:
time_now=datetime.datetime.now().time() #Returns the time component (drops the day)
print(time_now)
thirty_seconds=datetime.timedelta(seconds=30)
time_later=time_now+thirty_seconds
#Bug or feature?

"""So it's actually turns out to be a feature.
Because if you think about it, let's say
you're flying from New York to, let's say, Yangon in Myanmar.
Typically, you would leave New York at about 8 in the evening.
And on day one, let's say, on May 10,
and you would arrive in Yangon sometime
in the morning of May 12.
So if you have time objects you would say, I'm leaving at 9 PM
and I'm arriving at 7 AM.
But you're actually arriving at 7 AM two days later.
And that's not captured in just pure time objects.
So therefore, within Python itself,
the decision is we will not allow time delta calculations
on time objects.
Because there is this confusion as to whether you've
crossed more than a day or not.
It could be a problem.
Therefore for consistency and making
sure you always get the right answer, we don't allow that."""

20:16:27.151835

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [19]:
#But this is Python
#And we can always get around something by writing a new function!
#Let's write a small function to get around this problem
def add_to_time(time_object,time_delta):
    import datetime
    temp_datetime_object = datetime.datetime(500,1,1,time_object.hour,time_object.minute,time_object.second)
    #print(temp_datetime_object)
    return (temp_datetime_object+time_delta).time()

In [20]:
#And test it
time_now=datetime.datetime.now().time()
thirty_seconds=datetime.timedelta(seconds=30)
print(time_now,add_to_time(time_now,thirty_seconds))

20:37:45.259947 20:38:15

<h2>datetime and strings</h2>

More often than not, the program will need to get the date or time from a string:
    From a website (bus/train timings)
    From a file (date or datetime associated with a stock price)
    From the user (from the input statement)

Python needs to parse the string so that it correctly creates a date or time object

<h4>datetime.strptime</h4>
<li>datetime.strptime(): grabs time from a string and creates a date or datetime or time object
<li>The programmer needs to tell the function what format the string is using
<li> See http://pubs.opengroup.org/onlinepubs/009695399/functions/strptime.html for how to specify the format

In [21]:
date='01-Apr-03'
date_object=datetime.datetime.strptime(date,'%d-%b-%y')
print(date_object)

2003-04-01 00:00:00

In [22]:
#Unfortunately, there is no similar thing for time delta
#So we have to be creative!
bus_travel_time='2:15:30'
hours,minutes,seconds=bus_travel_time.split(':')
x=datetime.timedelta(hours=int(hours),minutes=int(minutes),seconds=int(seconds))
print(x)

2:15:30

In [23]:
#Or write a function that will do this for a particular format
def get_timedelta(time_string):
    hours,minutes,seconds = time_string.split(':')
    import datetime
    return datetime.timedelta(hours=int(hours),minutes=int(minutes),seconds=int(seconds))

<h4>datetime.strftime</h4>
<li>The strftime function flips the strptime function. It converts a datetime object to a string 
<li>with the specified format

In [24]:
now = datetime.datetime.now()
string_now = datetime.datetime.strftime(now,'%m/%d/%y %H:%M:%S')
print(now,string_now)
print(str(now)) #Or you can use the default conversion

2019-01-04 20:41:09.187843 01/04/19 20:41:09
2019-01-04 20:41:09.187843